.single-page {
    height: 80vh;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 0;
    padding: 0 10px;
}

.spd-wrapper {
    flex: 3.5;
    height: 80vh;
    overflow-y: scroll;
}

.sp-details {
    margin-right: 40px;

}

.sp-features {
    flex: 2;
}

.mid-floor {
    display: flex;
    justify-content: space-between;
}

.mf-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mid-floor .price {
    background-color: #FFE9B3;
    width: fit-content;
    font-size: 1.2em;
    border-radius: 5px;
    padding: 5px 8px;
}

.mid-floor h1 {
    font-size: 2em;
    transition: all ease 0.5s;
    cursor: pointer;
    font-weight: 400;

}

.mid-floor .address {
    display: flex;
    align-items: center;
    color: #7a7a7a;
    font-weight: 400;
}


.mf-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0px 50px;
    border-radius: 10px;
    background-color: rgba(254, 205, 81, 0.209);
}

.mf-right img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.sp-d-bottom {
    margin-top: 50px;
    color: #555;
    line-height: 20px;
}

.images {
    height: 350px;
    display: flex;
    margin-bottom: 100px;
    gap: 20px;
}

.images img {
    border-radius: 10px;
}

.img-left {
    flex: 3;

}

.img-right {
    flex: 1;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
}

.bigIMG {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.smallIMG {
    width: 100%;
    height: 30%;
    object-fit: cover;
}


.sp-features {
    margin-left: -20px;
    height: 80vh;
    overflow-y: scroll;
}

.spf-wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    justify-content: center;
    background-color: #FCF5F3;
}

.listVertical {
    display: flex;
    background-color: white;
    gap: 10px;
    flex-direction: column;
    padding: 5%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.feature {
    display: flex;
    gap: 10px;
    align-items: center;
}

.feature span {
    font-size: 1em;
    font-weight: 700;
}

.title {
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 700;
}

.feature p {
    font-size: 0.9em;

}

.ft-icon {
    background-color: rgba(254, 205, 81, 0.209);
}

.listHorizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
}

.sizes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}

.size {
    border-radius: 10px;
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
    background-color: white;
}

.buttons-sp {
    display: flex;
    justify-content: space-between;

}

.mapContainer {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

.buttons-sp button {

    padding: 20px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #FECE51;
}



@media (max-width: 1025px) {
    .single-page {
        overflow-y: scroll;
        flex-direction: column;
    }

    .spd-wrapper {
        overflow-y: hidden;
        flex: none;
        height: max-content;
    }

    .sp-features {
        overflow-y: hidden;
        flex: none;
        height: max-content;
    }
}