.app {
    margin: auto;
    margin-right: 1%;
    overflow: hidden !important;
}

@media (max-width: 901px) {
    .app {
        margin: 0 2%;
    }
}

@media (max-width: 901px) {
    .app {
        margin: 0 2%;
    }
}

@media (max-width: 480px) {
    .app {
        margin: 0 1%;
    }
}

.leaflet-container {
    width: auto !important;
    height: 470px !important;
}