.app {
    margin: 0 5%;
    overflow: hidden;
}

@media (max-width: 901px) {
    .app {
        margin: 0 2%;
    }
}

@media (max-width: 901px) {
    .app {
        margin: 0 2%;
    }
}

@media (max-width: 480px) {
    .app {
        margin: 0 1%;
    }
}