.home {
    width: 100%;
    display: flex;
    padding: 1% 1% 0 2%;
    flex-direction: row;
    justify-content: center;
}

.rightSide {
    display: flex;
    flex-direction: column;
}

.rightSide .paragraph {
    width: 80%;
}

.rightSide h1 {
    font-size: 4em;
    margin-bottom: 30px;
}

.leftSide img {
    position: relative;
    margin-top: 10px;
    top: -80px;
    left: 5%;
    width: 90%
}

@media (max-width: 901px) {
    .leftSide img {

        display: none;

    }
}

@media (max-width: 480px) {
    .leftSide img {
        display: none;
    }
}

.exp {
    display: flex;
    gap: 10%;
}

.upBtn {
    cursor: pointer;
    background-color: white;
    padding: 20px 40px;
    margin-bottom: 0;
    border: 1px solid #000;

}

.buy {
    background-color: white;
}

.activeBtn {
    background-color: black;
    color: white;
}

.rent {
    border-left: none;
}

.down {
    margin: 0;
}