.home {
    position: relative;
    width: 100%;
    display: flex;
    padding: 1% 1% 0 2%;
    flex-direction: row;
    justify-content: center;
}

.rightSide {
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.rightSide p {
    width: 100%;
    margin-bottom: 3em;
}

.search .down {
    margin-bottom: 3em;
}

.rightSide h1 {
    font-size: 4em;
    margin-bottom: 1em;
}

.leftSide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.leftSide img {
    width: 400px;
    margin-top: -10%;
}

@media (max-width:1405px) {
    .leftSide img {
        width: 300px;
    }

    .rightSide h1 {
        font-size: 3em;
    }
}

@media (max-width:1130px) {
    .leftSide img {
        width: 250px;
    }
}

@media (max-width:1075px) {
    .leftSide img {
        display: none;
    }

}



@media (max-width: 901px) {
    .home {
        flex-direction: column;
        align-items: center;
        padding: 2% 1%;
    }

    .leftSide img {
        display: none;
    }

    .rightSide {
        width: 90%;
    }

    .rightSide h1 {
        font-size: 3em;
    }

    .rightSide p,
    .search {
        margin-bottom: 2em;
    }



    .exp {
        flex-direction: row;
    }


}

@media (max-width: 480px) {
    .home {
        margin: 0;
        padding: 0;
    }

    .rightSide h1 {
        font-size: 2em;
        margin-bottom: 15px;
    }

    .rightSide p {
        margin-bottom: 30px;
        font-size: 1em;
    }

    .search {
        margin-bottom: -30px;
    }

    .down2 {
        margin-bottom: 0 !important;
    }

    .down2 button {
        margin-bottom: 0;
    }

    .exp {
        margin: 0 !important;
    }



}

/* Additional Styles */
.exp {
    display: flex;
    justify-content: space-between !important;

}

.up {
    margin: 0 !important;
}

.upBtn {
    cursor: pointer;
    background-color: white;
    padding: 20px 40px;
    margin: 0;
    border: 1px solid #000;
    border-bottom: none;
}

.buy {
    background-color: white;
    border-top-left-radius: 5px;
}

.activeBtn {
    background-color: black;
    color: white;
}

.rent {
    border-top-right-radius: 5px;
    border-left: none;
}

.down2 {
    display: flex;
    margin-bottom: -30px;
}

.down2 input:nth-of-type(1) {
    border: 1px solid #000;
    border-right: none;
    padding: 0px 10px;
    width: 200px;
}

.down2 input:nth-of-type(2) {
    border: 1px solid #000;
    border-left: none;
    border-right: none;
    padding: 0px 10px;
    width: 200px;
}

.down2 input:nth-of-type(3) {
    border: 1px solid #000;
    border-left: none;
    border-right: none;
    padding: 0px 10px;
    width: 200px;
}

.down button {
    color: white;
    flex: 1;
    background-color: #fece51;
    border: 1px solid #000;
    padding: 10px 20px;
    border-left: none;
}

@media (max-width:750px) {
    .down2 {
        display: flex;
        flex-direction: column;
        gap: 3px
    }



    .down2 input:nth-of-type(1) {
        border: 1px solid #000;
        width: auto;
        padding: 20px;



    }

    .down2 input:nth-of-type(2) {
        width: auto;
        padding: 20px;
        border: 1px solid #000;


    }

    .down2 input:nth-of-type(3) {
        width: auto;
        border: 1px solid #000;
        padding: 20px;


    }

    .down button {
        color: white;
        background-color: #fece51;
        border: none;
    }


}