.home {
    width: 100%;
    display: flex;
    padding: 1% 1% 0 2%;
    flex-direction: row;
    justify-content: center;
}

.rightSide {
    display: flex;
    flex-direction: column;
}

.rightSide p {
    width: 100%;
    margin-bottom: 3em;
}

.search {
    margin-bottom: 3em;
}

.rightSide h1 {
    font-size: 4em;
    margin-bottom: 1em;
}

.leftSide {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.leftSide img {
    width: 70%;
    margin-right: 20px;
}

@media (max-width: 901px) {
    .leftSide img {

        display: none;

    }
}

@media (max-width: 480px) {
    .leftSide img {
        display: none;
    }
}

.exp {
    display: flex;
    gap: 10%;
}

.up {
    margin: 0 !important;
}

.upBtn {
    cursor: pointer;
    background-color: white;
    padding: 20px 40px;
    margin: 0;
    border: 1px solid #000;
    border-bottom: none;


}

.buy {
    background-color: white;
    border-top-left-radius: 5px;

}

.activeBtn {
    background-color: black;
    color: white;
}


.rent {
    border-top-right-radius: 5px;
    border-left: none;
}

.down {
    display: flex;
}


.down input:nth-of-type(1) {
    padding: 10px;
    margin: 0;
    border: 1px solid #000;
    border-right: none;
}

.down input:nth-of-type(2) {
    padding: 10px;
    margin: 0;
    border: 1px solid #000;
    border-left: none;
    border-right: none;
}

.down input:nth-of-type(3) {
    padding: 10px;
    margin: 0;
    border: 1px solid #000;
    border-left: none;
    border-right: none;
}

.down button {
    color: white;
    background-color: #fece51;
    border: 1px solid #000;
    padding: 10px 30px;
    border-left: none;
}