.list-page {
    height: 100%;
    margin-top: 20px;
    display: flex;
}

.list-left {
    flex: 3;
    height: 80vh;
}

.list-left-wrapper {
    font-size: 1.5em;
    font-weight: 300;
    overflow-y: scroll;
    padding: 10px;
    height: 100%;
}



::-webkit-scrollbar {
    width: 8px;
    background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb {
    background-color: #FFD700;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #e6bc00;
}

.loc {
    margin-bottom: 15px;
}

.loc input {
    width: 100% !important;
}

.form-wrapper {
    margin-top: 10px;
}

.input-wrapper label {
    display: block;
    font-size: 0.5em;
    font-weight: 500;
}

.input-wrapper input,
select {
    display: block;
    text-indent: 5px;
    width: 100px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 14px;
}

.second-floor-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px
}

.list-left button {
    cursor: pointer;
    margin-top: 10px;
    color: white;
    border: none;
    background-color: #fece51;
    padding: 5px 34px;
}

.list-right {
    flex: 1.5;
    height: 100%;
}

@media (max-width:1025px) {
    .list-right {
        display: none;
    }
}